@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: whitesmoke;
  margin-bottom: 10px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}
h1 {
  margin: 50px 0 10px 0;
  font-size: 45px;
}
input {
  padding: 8px 10px;
  font-size: 20px;
  border-radius: 5px;
}

input[type="text"] {
  width: 300px;
}

input[type="submit"] {
  background-color: #33b23b;
  color: white;
  outline: 0;
  border: 0;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: #56b371;
}

.error {
  color: red;
  margin: 25px auto;
}

.img-cont {
  width: 90vw;
  padding-bottom: 20px;
  margin: 10px auto;
  border-radius: 10px;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.myimg {
  height: 350px;
  width: 300px;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 10px 13px rgba(0, 0, 0, 0.3);
}
.myimg:hover img {
  transform: scale(1.2);
}

.myimg:hover {
  background-color: #748094;
}

img {
  height: 80%;
  border-radius: 5px;
  width: 100%;
  object-fit: cover;
  transition: all 0.3s ease;
}

.info {
  margin-top: 25px;
  padding-left: 10px;
}

.load {
  padding: 7px 12px;
  outline: 0;
  border: 0;
  cursor: pointer;
  font-size: 25px;
  background-color: #0554f9;
  color: white;
  border-radius: 5px;
  display: none;
  margin-bottom: 20px;
}

.load.active {
  display: block;
}

.end {
  padding-bottom: 20px;
}
