@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: #60a798;
  padding: 1rem;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  margin: 25px 0;
}

.maincont {
  /* min-width: 100%; */

  width: 80vw;
  margin: 30px auto;
  padding: 1rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.btn {
  padding: 60px 120px;
  background-color: lightblue;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  cursor: pointer;
  font-size: 60px;
  color: #333;
}

textarea {
  height: 200px;
  background-color: transparent;
  width: 300px;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  outline: 0;
  font-size: 20px;
  resize: none;
  border-radius: 10px;
}

textarea:hover {
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
}
