@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d9704a;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}
.container {
  width: 500px;
  padding: 1rem;
  color: white;
  text-align: center;
  line-height: 1.9;
}

.btn {
  padding: 1rem;
  font-size: 100px;
  margin: 15px 0;
  border: 0;
  outline: 0;
  border-radius: 5px;
  cursor: pointer;
}

.emoname {
  color: #99d1e5;
}

.error {
  position: fixed;
  bottom: -100px;
  right: 25px;
  background-color: yellow;
  padding: 1rem;
  border: 0;
  outline: 0;
  border-radius: 5px;
  transition: all 0.5s ease;
}

.error.hide {
  bottom: 25px;
}
