@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-direction: column;
  line-height: 2.5;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

.cont {
  position: relative;
}
hr {
  width: 350px;
  height: 10px;
  border-radius: 5px;
  background-color: grey;
  position: relative;
}

.front {
  position: absolute;
  top: 0;
  left: 0;
  height: 10px;
  width: 0px;
  background-color: red;
  z-index: 1;
  outline: 0;
  border: 0;
}
