@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background-color: aquamarine;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

.btn {
  margin: 25px;
  padding: 30px 50px;
  outline: 0;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  display: inline;
  font-size: 20px;
  background-size: cover;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
